.pageWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .inputWrapper {
        width: 50%;
        height: 30%;
        background-color: white;
        border: 2px solid gray;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2vh 2vw;

        .enterAccessToken {
            font-size: 2vmax;
            font-weight: bold;
        }

        .errorMessage {
            color: rgb(211, 47, 47);
            margin-top: 5px;
        }
    }
}